/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin: 20px;
}

img {
  height: 300px;
}

footer {
  clear: both;
}